<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403</title>
  <link rel="stylesheet" th:href="@{/css/semantic.min.css}">
  <link rel="stylesheet" th:href="@{/css/custom.css}">
  <link rel="stylesheet" th:href="@{/simple-notify/dist/simple-notify.min.css}" />
  <link rel="stylesheet" th:href="@{/css/style403.css}">
</head>

<body>
  <div class='hover'>
    <div class='background'>
      <div class='door'>403</div>
      <div class='rug'></div>
    </div>
    <div class='foreground'>
      <div class='bouncer'>
        <div class='head'>
          <div class='neck'></div>
          <div class='eye left'></div>
          <div class='eye right'></div>
          <div class='ear'></div>
        </div>
        <div class='body'></div>
        <div class='arm'></div>
      </div>
      <div class='poles'>
        <div class='pole left'></div>
        <div class='pole right'></div>
        <div class='rope'></div>
      </div>
    </div>
  </div>

  <div class="ui center aligned segment">
    <div class="ui icon header">
      Vaya, vaya, <span th:text="${#authentication.name}"></span> parece que estás tratando de acceder a un sitio al que no tienes autorización
    </div>
    <div class="inline">
      <a class="ui teal circular basic button" th:href="@{/}">
        <font style="vertical-align: inherit;">
          <font style="vertical-align: inherit;">Volver a Inicio</font>
        </font>
      </a>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script th:src="@{/js/semantic.min.js}"></script>

</body>

</html>